@import '../../constants.scss';

.home-screen {
    width: 100%;
    height: 100%;
    overflow: auto;

    .home-screen__grid {
        height: calc(100vh - #{$gap-default * 12});
        margin: $gap-default * 6 auto 0;
        max-width: $max-screen-size;
        box-sizing: border-box;
        overflow-y: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: $gap-default*2;
        grid-row-gap: $gap-default*2;
    }
}