@import "../../constants.scss";

.menu-nav-link {
    display: block;
    width: 100%;
    text-align: left;
    text-decoration: none;
    color: $font-color-primary;
    padding: $gap-default*2 $gap-default;
    border-bottom: solid $border-thin $border-color-primary;

    &.active {
        font-weight: 700;
        background-color: #9ad3de;
    }
}