@import '../../../constants.scss';

.transaction-category-element {
    display: flex;
    justify-content: space-between;
    padding: $gap-default * 2 0;
    border-bottom: solid $border-thin $border-color-secondary;

    .transaction-category-element__delete {
        cursor: pointer;
    }
}