$white: #fff;
$black: #000;
$grey: #aaa;
$background-primary: #fff;
$background-secondary: #c9c9c9;

$border-color-primary: #e3e3e3;

$border-thin: 1px;

$font-color-primary: #fff;
/*
#9ad3de
#89bdd3
*/

$gap-default: 8px;

$static-url: 'http://localhost:3000/';