$white: #fff;
$black: #000;
$grey: #aaa;
$background-primary: #fff;
$background-secondary: #c9c9c9;
$background-ternary: #89bdd3;
$background-quaternary: #9ad3de;

$border-color-primary: #e3e3e3;

$border-thin: 1px;

$font-color-primary: #fff;
$font-color-secondary: #000;

$font-color-error: #DD0000;


$font-size-normal: 16px;
$font-size-small: 12px;

$gap-default: 8px;

$static-url: 'http://localhost:3000/';